#container {
  background: url(../images/japan01.jpg);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.box {
  padding: 10px;
  margin: 10px;
  background-clip: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}

#title {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

#travelinfo {
  border: 1px solid black;
  border-radius: 10px;
}

#foodinfo {
  border: 1px solid black;
  border-radius: 10px;
}

#accominfo {
  border: 1px solid black;
  border-radius: 10px;
}