body {
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

nav {
  border-bottom: 3px solid;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  transition: color 0.3s; 
}

nav a:hover {
  color: #00FF00; 
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.login{
  float: right;
}

.nav1{
  border-bottom: 0;
  padding: 10px;
}

.search-box{
  display: inline-block;
}

.search-box input {
  width: 500px; 
  padding: 8px; 
}

.search-box button {
  padding: 8px; 
}

h1{
  float: left;
  margin-left: 100px;
}